
<div class="container form-style">
	<div class="left-bar">
		<h4><%= @project.name %></h4>
		<% @project.lessons.each do |lesson| %>
				<p><%= link_to lesson.name, project_lesson_path(@project, lesson) %></p>
				<p><%= lesson.description %></p>
		<% end %>
	
	</div>

	
		<div class="right-bar">
			<h1><%= @lesson.name %></h1>
			<!-- Video Goes Here -->
			<div class="video-container">
				<%= raw @video %>
				<%#= raw Wistia::Media.find(:all)[-1].attributes["embedCode"] %>
			</div>
			<!-- Video Ends Here -->
			<%# image_tag @lesson.logo %>
			<p class="lead"><%= @lesson.description %></p>
			<td>
				<%= link_to "Download PDF", @lesson.pdf_url, target: '_blank', class: "btn btn-info" %>
				<%= link_to "Edit", edit_project_lesson_path, class: "btn btn-warning" %>			
				<%= link_to "Delete", project_lesson_path(@project, @lesson), method: :delete, class: "btn btn-danger" %>
			</td>
		</div>

</div>

      