<div class="col-md-6 col-md-offset-3 well signin panel panel-default form-style">
  <div class="panel-body">


<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, 
                            url: session_path(resource_name),
                            wrapper_mappings: { boolean: :vertical_boolean }) do |f| %>
  
    <%= f.input :email, label: false do %>
    <div class="input-group">
      <%= f.input_field :email, class: 'form-control input-lg', placeholder: 'Email' %>  
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>


    </div>
    <% end %>
    
    <%= f.input :password, label: false do %>
    <div class="input-group">
      <%= f.input_field :password, class: 'form-control input-lg', placeholder: 'Password' %>  
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    </div>
    <% end %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>
  
    <%= f.button :submit, "Log in", class: 'btn-primary btn-block btn-lg' %>

<% end %>

<%= flash_messages layout_flash: false %>

<%= render "devise/shared/links" %>
</div>
</div>