<%= stylesheet_link_tag 'accounts' %>


<div class="jumbotron jumbotron-front-page" style="background-image: url('<%= image_path(current_account.school_background_attachments) %>');">
  <div class="container front-page">
  <% if current_account.school_logo_attachments == nil %>
      <% else %>
    <%= image_tag current_account.school_logo_attachments, class: "school-logo school-logo-header" %>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="row">

    <div id="home-body">
      <span class="subdomain-title"><h1>Welcome to <%= current_account.subdomain %></h1></span>
      <span class="lead">
        <% if current_account.tagline == nil %>
          <p class="lead">That's the joke<p>
        <% else %>
          <p class='lead'><%= current_account.tagline %></p>
        <% end %>
      </span>

      <div id="about">
        <h3> About the school </h3>
        <% if current_account.description == nil %>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reprehenderit aliquam totam nobis provident harum fuga a animi non soluta reiciendis earum adipisci amet rem, repudiandae sequi, libero debitis dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit! </p>
        <% else %>
        <p class='lead'><%= current_account.description %></p>
        <% end %>

      </div>

    </div>
  </div>

  <div class="row">
    <h3>The courses</h3>
    <% current_account.projects.each do |project| %>
    <div class="col-md-6">
      <div class="project_box panel panel-default">
      <% if user_signed_in? %>
        <%= link_to project.name, project_path(project) %>
        <% else %>
        <%= project.name %>
        <% end %>
        <%= project.subtitle %>

        <% if current_account.projects.count == 0 %>
          <%= link_to 'New Course', new_project_path, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
    <% end %>
  </div>


